<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>程序员屌丝</string>
	<string>新朋友</string>
	<string>牛牛</string>
	<string>Felix</string>
	<string>琪琪</string>
	<string>好心情</string>
	<string>Swtift学友</string>
	<string>喵小美</string>
	<string>珊珊</string>
	<string>小云</string>
</array>
</plist>
