<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>抖了你一下</string>
	<string>回家火车票买了么</string>
	<string>hello，能帮我个忙么？</string>
	<string>好的</string>
	<string>OK~</string>
	<string>可以了，多谢！~</string>
	<string>看你的博客找到你的</string>
	<string>逗！</string>
	<string>哈哈哈😂</string>
	<string>😄</string>
</array>
</plist>
